<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Описание-проекта" data-toc-modified-id="Описание-проекта-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Описание проекта</a></span></li><li><span><a href="#Описание-данных" data-toc-modified-id="Описание-данных-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Описание данных</a></span></li><li><span><a href="#Предобработка-данных" data-toc-modified-id="Предобработка-данных-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Предобработка данных</a></span></li><li><span><a href="#Анализ-данных" data-toc-modified-id="Анализ-данных-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>Анализ данных</a></span><ul class="toc-item"><li><span><a href="#Есть-ли-зависимость-между-количеством-детей-и-возвратом-кредита-в-срок?" data-toc-modified-id="Есть-ли-зависимость-между-количеством-детей-и-возвратом-кредита-в-срок?-4.1"><span class="toc-item-num">4.1&nbsp;&nbsp;</span>Есть ли зависимость между количеством детей и возвратом кредита в срок?</a></span></li><li><span><a href="#Есть-ли-зависимость-между-семейным-положением-и-возвратом-кредита-в-срок?" data-toc-modified-id="Есть-ли-зависимость-между-семейным-положением-и-возвратом-кредита-в-срок?-4.2"><span class="toc-item-num">4.2&nbsp;&nbsp;</span>Есть ли зависимость между семейным положением и возвратом кредита в срок?</a></span></li><li><span><a href="#Есть-ли-зависимость-между-уровнем-дохода-и-возвратом-кредита-в-срок?" data-toc-modified-id="Есть-ли-зависимость-между-уровнем-дохода-и-возвратом-кредита-в-срок?-4.3"><span class="toc-item-num">4.3&nbsp;&nbsp;</span>Есть ли зависимость между уровнем дохода и возвратом кредита в срок?</a></span></li><li><span><a href="#Как-разные-цели-кредита-влияют-на-его-возврат-в-срок?" data-toc-modified-id="Как-разные-цели-кредита-влияют-на-его-возврат-в-срок?-4.4"><span class="toc-item-num">4.4&nbsp;&nbsp;</span>Как разные цели кредита влияют на его возврат в срок?</a></span></li><li><span><a href="#Возможные-причины-появления-пропусков-в-исходных-данных." data-toc-modified-id="Возможные-причины-появления-пропусков-в-исходных-данных.-4.5"><span class="toc-item-num">4.5&nbsp;&nbsp;</span>Возможные причины появления пропусков в исходных данных.</a></span></li></ul></li><li><span><a href="#Общий-вывод" data-toc-modified-id="Общий-вывод-5"><span class="toc-item-num">5&nbsp;&nbsp;</span>Общий вывод</a></span><ul class="toc-item"><li><span><a href="#1.-Данные" data-toc-modified-id="1.-Данные-5.1"><span class="toc-item-num">5.1&nbsp;&nbsp;</span>1. Данные</a></span></li><li><span><a href="#Исследование" data-toc-modified-id="Исследование-5.2"><span class="toc-item-num">5.2&nbsp;&nbsp;</span>Исследование</a></span></li><li><span><a href="#Рекомендации" data-toc-modified-id="Рекомендации-5.3"><span class="toc-item-num">5.3&nbsp;&nbsp;</span>Рекомендации</a></span></li></ul></li></ul></div>

# Исследование надежности заёмщиков
## Описание проекта

Заказчик — кредитный отдел банка. Нужно разобраться, влияет ли семейное положение и количество детей клиента на факт погашения кредита в срок. Входные данные от банка — статистика о платёжеспособности клиентов.
Результаты исследования будут учтены при построении модели кредитного скоринга — специальной системы, которая оценивает способность потенциального заёмщика вернуть кредит банку.

**Цель исследования - проверить следующие гипотезы:**
- Есть ли зависимость между количеством детей и возвратом кредита в срок?
- Есть ли зависимость между семейным положением и возвратом кредита в срок?
- Есть ли зависимость между уровнем дохода и возвратом кредита в срок?
- Как разные цели кредита влияют на его возврат в срок?

## Описание данных

children — количество детей в семье  
days_employed — общий трудовой стаж в днях  
dob_years — возраст клиента в годах  
education — уровень образования клиента  
education_id — идентификатор уровня образования  
family_status — семейное положение  
family_status_id — идентификатор семейного положения  
gender — пол клиента  
income_type — тип занятости  
debt — имел ли задолженность по возврату кредитов  
total_income — ежемесячный доход  
purpose — цель получения кредита

## Предобработка данных

In [1]:
import pandas as pd
import os

In [3]:
if os.path.exists('/datasets/data.csv'):
    data = pd.read_csv('/datasets/data.csv')
else:
    data = pd.read_csv("C:/Users/Mixa/Documents/Анализ данных/datasets/data_4_sprint.csv")
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21525 entries, 0 to 21524
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   children          21525 non-null  int64
 1   days_employed     19351 non-null  float64
 2   dob_years         21525 non-null  int64
 3   education         21525 non-null  object
 4   education_id      21525 non-null  int64
 5   family_status     21525 non-null  object
 6   family_status_id  21525 non-null  int64
 7   gender            21525 non-null  object
 8   income_type       21525 non-null  object
 9   debt              21525 non-null  int64
 10  total_income      19351 non-null  float64
 11  purpose           21525 non-null  object
dtypes: float64(2), int64(5), object(5)
memory usage: 2.0+ MB

In [4]:
data.head(20)

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose
0,1,-8437.673028,42,высшее,0,женат / замужем,0,F,сотрудник,0,253875.639453,покупка жилья
1,1,-4024.803754,36,среднее,1,женат / замужем,0,F,сотрудник,0,112080.014102,приобретение автомобиля
2,0,-5623.422610,33,Среднее,1,женат / замужем,0,M,сотрудник,0,145885.952297,покупка жилья
3,3,-4124.747207,32,среднее,1,женат / замужем,0,M,сотрудник,0,267628.550329,дополнительное образование
4,0,340266.072047,53,среднее,1,гражданский брак,1,F,пенсионер,0,158616.077870,сыграть свадьбу
5,0,-926.185831,27,высшее,0,гражданский брак,1,M,компаньон,0,255763.565419,покупка жилья
6,0,-2879.202052,43,высшее,0,женат / замужем,0,F,компаньон,0,240525.971920,операции с жильем
7,0,-152.779569,50,СРЕДНЕЕ,1,женат / замужем,0,M,сотрудник,0,135823.934197,образование
8,2,-6929.865299,35,ВЫСШЕЕ,0,гражданский брак,1,F,сотрудник,0,95856.832424,на проведение свадьбы
9,0,-2188.756445,41,среднее,1,женат / замужем,0,M,сотрудник,0,144425.938277,покупка жилья для семьи
10,2,-4171.483647,36,высшее,0,женат / замужем,0,M,компаньон,0,113943.491460,покупка недвижимости
11,0,-792.701887,40,среднее,1,женат / замужем,0,F,сотрудник,0,77069.234271,покупка коммерческой недвижимости
12,0,NaN,65,среднее,1,гражданский брак,1,M,пенсионер,0,NaN,сыграть свадьбу
13,0,-1846.641941,54,неоконченное высшее,2,женат / замужем,0,F,сотрудник,0,130458.228857,приобретение автомобиля
14,0,-1844.956182,56,высшее,0,гражданский брак,1,F,компаньон,1,165127.911772,покупка жилой недвижимости
15,1,-972.364419,26,среднее,1,женат / замужем,0,F,сотрудник,0,116820.904450,строительство собственной недвижимости
16,0,-1719.934226,35,среднее,1,женат / замужем,0,F,сотрудник,0,289202.704229,недвижимость
17,0,-2369.999720,33,высшее,0,гражданский брак,1,M,сотрудник,0,90410.586745,строительство недвижимости
18,0,400281.136913,53,среднее,1,вдовец / вдова,2,F,пенсионер,0,56823.777243,на покупку подержанного автомобиля
19,0,-10038.818549,48,СРЕДНЕЕ,1,в разводе,3,F,сотрудник,0,242831.107982,на покупку своего автомобиля

In [5]:
data.isna().sum()

children               0
days_employed       2174
dob_years              0
education              0
education_id           0
family_status          0
family_status_id       0
gender                 0
income_type            0
debt                   0
total_income        2174
purpose                0
dtype: int64

Посмотрим, какова доля пропущенных значений, чтобы было понятно, что можно отбросить, а с чем будем работать.

In [6]:
pd.DataFrame(data.isna().mean()*100).style.format(precision=2).background_gradient('coolwarm')

Есть пропуски данных, причем одинаковое количество в столбцах days_employed и total_income
Cтолбец с пропущенными значениями — total_income — хранит данные о доходах. На сумму дохода сильнее всего влияет тип занятости, поэтому заполнить пропуски в этом столбце нужно медианным значением по каждому типу из столбца income_type. Например, у человека с типом занятости сотрудник пропуск в столбце total_income должен быть заполнен медианным доходом среди всех записей с тем же типом. Используем функцию transform(), которая для groupby() сохраняет формат исходного набора данных и позволяет заполнить пропущенные значения столбца медианами по типам занятости.

In [7]:
data['total_income'] = data['total_income'].fillna(data.groupby('income_type')['total_income'].transform('median'))

Заменяем отрицательные значения столбца days_employed при помощи функции abs()
Для каждого типа занятости выведем медианное значение трудового стажа days_employed в днях.

In [8]:
data['days_employed'] = abs(data['days_employed'])
data.groupby('income_type')['days_employed'].median()

income_type
безработный        366413.652744
в декрете            3296.759962
госслужащий          2689.368353
компаньон            1547.382223
пенсионер          365213.306266
предприниматель       520.848083
сотрудник            1574.202821
студент               578.751554
Name: days_employed, dtype: float64

У двух типов (безработные и пенсионеры) получаются аномально большие значения. Исправить такие значения сложно, поэтому оставим их как есть. Тем более этот столбец не понадобится для исследования.

Выведем перечень уникальных значений столбца children

In [9]:
data['children'].unique()

array([ 1,  0,  3,  2, -1,  4, 20,  5], dtype=int64)

В столбце children есть два аномальных значения. Посмотрим, какова их доля в датасете. Мы можем удалить не больше 5-10% датафрейма. Если доля удаляемых данных больше, надо обрабатывать их по-иному

In [10]:
t = data.groupby('children').agg({'dob_years':['count']})
t.columns = ['кол-во в выборке']
t['процент в выборке'] = t['кол-во в выборке'] / 21525
t.style.format({'процент в выборке': '{:,.2%}'.format})

Процент аномальных значений небольшой, поэтому удалим строки, в которых встречаются такие значения из датафрейма data.

In [11]:
data = data.loc[(data['children'] != 20) & (data['children'] != -1)]
data['children'].unique()

array([1, 0, 3, 2, 4, 5], dtype=int64)

In [12]:
data['gender'].unique()

array(['F', 'M', 'XNA'], dtype=object)

In [13]:
t = data.groupby('gender').agg({'dob_years':['count']})
t.columns = ['кол-во в выборке']
t['процент в выборке'] = t['кол-во в выборке'] / 21525
t.style.format({'процент в выборке': '{:,.2%}'.format})

В данных пола имеется единичное странное значение. Оно ни на что не влияет, но оно есть!

Заполним пропуски в столбце days_employed медианными значениями по каждому типу занятости income_type.

In [14]:
data['days_employed'] = data['days_employed'].fillna(data.groupby('income_type')['days_employed'].transform('median'))

Проверим себя, выведем количество пропущенных значений для каждого столбца

In [15]:
data.isna().sum()

children            0
days_employed       0
dob_years           0
education           0
education_id        0
family_status       0
family_status_id    0
gender              0
income_type         0
debt                0
total_income        0
purpose             0
dtype: int64

Заменим вещественный тип данных в столбце `total_income` на целочисленный

In [16]:
data['total_income'] = data['total_income'].astype(int)

Обработаем неявные дубликаты в столбце education. В этом столбце есть одни и те же значения, но записанные по-разному: с использованием заглавных и строчных букв. Приведем их к нижнему регистру.

In [17]:
data['education'] = data['education'].str.lower()

Выведем на экран количество строк-дубликатов в данных.

In [18]:
data.duplicated().sum()

71

... и удалим их

In [19]:
data = data.drop_duplicates()

На основании диапазонов, указанных ниже, создадим в датафрейме data столбец total_income_category с категориями:

0–30000 — 'E';
30001–50000 — 'D';
50001–200000 — 'C';
200001–1000000 — 'B';
1000001 и выше — 'A'.

Например, кредитополучателю с доходом 25000 нужно назначить категорию 'E', а клиенту, получающему 235000, — 'B'. Используем собственную функцию с именем categorize_income() и метод apply().

In [20]:
def categorize_income(income):
    if income <= 30000:
        return 'E'
    elif income <= 50000:
        return 'D'
    elif income <= 200000:
        return 'C'
    elif income <= 1000000:
        return 'B'
    else:
        return 'A'

data['total_income_category'] = data['total_income'].apply(categorize_income)

Выведем на экран перечень уникальных целей взятия кредита из столбца purpose

In [21]:
data['purpose'].unique()

array(['покупка жилья', 'приобретение автомобиля',
       'дополнительное образование', 'сыграть свадьбу',
       'операции с жильем', 'образование', 'на проведение свадьбы',
       'покупка жилья для семьи', 'покупка недвижимости',
       'покупка коммерческой недвижимости', 'покупка жилой недвижимости',
       'строительство собственной недвижимости', 'недвижимость',
       'строительство недвижимости', 'на покупку подержанного автомобиля',
       'на покупку своего автомобиля',
       'операции с коммерческой недвижимостью',
       'строительство жилой недвижимости', 'жилье',
       'операции со своей недвижимостью', 'автомобили',
       'заняться образованием', 'сделка с подержанным автомобилем',
       'получение образования', 'автомобиль', 'свадьба',
       'получение дополнительного образования', 'покупка своего жилья',
       'операции с недвижимостью', 'получение высшего образования',
       'свой автомобиль', 'сделка с автомобилем',
       'профильное образование', 'высшее образование',
       'покупка жилья для сдачи', 'на покупку автомобиля', 'ремонт жилью',
       'заняться высшим образованием'], dtype=object)

Создадим функцию, которая на основании данных из столбца purpose сформирует новый столбец purpose_category, в который войдут следующие категории:

'операции с автомобилем',
'операции с недвижимостью',
'проведение свадьбы',
'получение образования'.
Например, если в столбце purpose находится подстрока 'на покупку автомобиля', то в столбце purpose_category должна появиться строка 'операции с автомобилем'.

Используем собственную функцию с именем categorize_purpose() и метод apply().

In [22]:
def categorize_purpose(purp):
    if 'автомобил' in purp:
        return 'операции с автомобилем'
    elif ('жиль' in purp) or ('недвижимост' in purp):
        return 'операции с недвижимостью'
    elif 'свадьб' in purp:
        return 'проведение свадьбы'
    elif 'образовани' in purp:
        return 'получение образования'

In [23]:
data['purpose_category'] = data['purpose'].apply(categorize_purpose)

Несмотря на пропуски в данных, мы удалили всего 71 строку явных дубликатов. Это не повлияет на исследование, но возможно, в будущем следует запрашивать идентификатор клиента, чтобы убедиться в том, что это именно дубликаты, наверняка.

## Анализ данных

### Есть ли зависимость между количеством детей и возвратом кредита в срок?

In [24]:
child_debt_dep = data.groupby('children').agg({'debt':['count', 'sum', 'mean']})
child_debt_dep.columns = ['Всего кредитополучателей', 'Всего должников', 'Доля должников']
child_debt_dep.sort_values('Доля должников').style.format({'Доля должников': '{:,.2%}'.format})

В столбце debt выведены в процентах значения отношений просроченного долга к общему количеству заемщиков, сгруппированным по количеству детей. Строки с тремя, четырьмя и пятью детьми учитывать в анализе не будем т.к. маленькие размеры групп этого не позволяют. По оставшимся группам видно, что зависимость неплатежей от количества детей существует. Лучше всего платят бездетные и это вполне логично т.к. когда у тебя есть дети, то приоритет отдается им, а не банку.

### Есть ли зависимость между семейным положением и возвратом кредита в срок?

In [25]:
marital_debt_dep = data.groupby('family_status').agg({'debt':['count', 'sum', 'mean']})
marital_debt_dep.columns = ['Всего кредитополучателей', 'Всего должников', 'Доля должников']
marital_debt_dep.sort_values('Доля должников').style.format({'Доля должников': '{:,.2%}'.format})

В столбце debt выведены в процентах значения отношений просроченного долга к общему количеству заемщиков, сгруппированным по семейному положению. Лучше всего дела обстоят в категории "вдовец/вдова". Хуже всех показали себя живущие в гражданском браке и холостяки.  По расчетам можно вывести общую зависимость, что заемщики состоящие или состоявшие в браке лучше выплачивают кредиты.

### Есть ли зависимость между уровнем дохода и возвратом кредита в срок?

In [26]:
income_debt_dep = data.groupby('total_income_category').agg({'debt':['count', 'sum', 'mean']})
income_debt_dep.columns = ['Всего кредитополучателей', 'Всего должников', 'Доля должников']
income_debt_dep.sort_values('Доля должников').style.format({'Доля должников': '{:,.2%}'.format})

Судя по таблице, в категориях A, D, E данных недостаточно для проведения анализа. Можно сравнить только категории B и C. Зависимость возвращаемости кредита от уровня дохода присутствует. Чем выше доход, тем лучше платежи.

### Как разные цели кредита влияют на его возврат в срок?

In [27]:
purpos_debt_dep = data.groupby('purpose_category').agg({'debt':['count', 'sum', 'mean']})
purpos_debt_dep.columns = ['Всего кредитополучателей', 'Всего должников', 'Доля должников']
purpos_debt_dep.sort_values('Доля должников').style.format({'Доля должников': '{:,.2%}'.format})

Как и следовало ожидать, самый низкий процент невозвратов в категории "операции с недвижимостью". Как правило риски потери жилья заставляют человека быть более ответственным. Чего нельзя сказать об операциях с автомобилем, к которым подход самый легкомысленный.

### Возможные причины появления пропусков в исходных данных.

Судя по тому, что пропуски есть в двух столбцах "трудовой стаж" и " ежемесячный доход", и их количество в обоих столбцах совпадает, скорее всего причиной отсутствия данных является отказ клиента от предоставления этих сведений. Для уточнения, необходимо запросить кредитный отдел банка о возможности выдачи кредитов без подтверждения дохода.
Также не стоит исключать и технические ошибки при выгрузке данных, поэтому необходимо также связаться со специалистами, занимающимися этими вопросами.

Заполнить пропуски медианным значением — лучшее решение для количественных переменных.  Медиана хороша тем, что на нее практически не влияют нехарактерные для выборки сверхбольшие или сверхмалые значения. Например, если в отдел из четырех человек с окладом в 100'000 руб. взяли пятого с окладом в 200'000руб., то среднее (120'000руб.) создаст иллюзию о росте заработной платы всего отдела. Медиана же (100'000 руб.) выдаст реальное положение дел.

## Общий вывод

### 1. Данные

При обработке датасета пришлось удалить 71 строку - дубликаты. Из всего объема данных, это примерно 0.3%, и на точность вычислений это удаление, скорее всего, не повлияло, или повлияло незначительно.

### Исследование

Мы проверили четыре гипотезы и установили:
    
1. Зависимость между количеством детей и возвратом кредита в срок **существует**. Чем меньше детей, тем стабильнее платежи.
2. Зависимость между семейным положением и возвратом кредита в срок **существует**. БОльшую ответственность проявляют люди имеющие или имевшие в прошлом опыт супружеских отношений. 
3. Зависимость между уровнем дохода и возвратом кредита в срок **существует**. Чем больше доход, тем меньше должников.
4. Зависимость от цели кредита на его возврат в срок **существует**. Самые ответственные заемщики - те, кто покупает в кредит недвижимость. Самые безответственные - те, кто покупает автомобили и берет деньги на получение образования.

### Рекомендации

- Информацию об удаленных данных и о пропусках в столбцах "трудовой стаж" и "ежемесячный доход" необходимо сообщить коллегам, занимающимся выгрузкой данных и, возможно, в дальнейшем запрашивать идентификатор клиента;
- Сообщить о найденных аномалиях трудового стажа у безработных и пенсионеров;
- Сообщить о странном значении пола;
- Запросить кредитный отдел банка о возможности выдачи кредитов без подтверждения дохода;